{% extends "cardapio/base.html" %}

{% block jumbo %}
	GDG Pizza!
{% endblock %}

{% block below_jumbo %}
	<p>Escolha uma categoria</p>
{% endblock %}

{% block content %}
	<div class="row">
	{% if latest_category_list %}
	    
	    {% for category in latest_category_list %}
	        <div class="col-md-4">
	        	<h2><a href="{% url 'cardapio:detail' category.id %}">{{ category.name }}</a></h2>
	        </div>
	    {% endfor %}
	    
	{% else %}
		<div class="col-md-4">
	    	<p>Nenhuma categoria disponível.</p>
	    </div>
	{% endif %}
	</div>
{% endblock %}